{
  "env": {
    "test": {
      "presets": ["env"]
    },
    "build": {
      "presets": [["env", { "modules": false }]],
      "plugins": ["external-helpers", "transform-object-rest-spread"]
    }
  }
}
